{{define "content"}}

    <div class="page-section">
        <strong>about <u>me</u></strong>
    </div>

    {{.Markdown.Body}}

    <div class="page-section">
        <strong>Contact</strong>
    </div>
    <div class="about-social-links">
        <div>
            <a href="mailto:em@thrcd.net" target="_blank">
                <img style="vertical-align:middle" src="/static/img/email.svg" width="15">
                em@thrcd.net
            </a>
        </div>

       <div>
           <a href="https://github.com/thrcd" target="_blank">
               <img style="vertical-align:middle" src="/static/img/github.svg" width="15">
               github
           </a>
       </div>

        <div>
            <a href="https://techhub.social/@thrcd" target="_blank">
                <img style="vertical-align:middle" src="/static/img/mastodon.svg" width="15">
                mastodon
            </a>
        </div>

    </div>
{{end}}