{{define "content"}}

    <div class="page-section">
        <strong>About <u>me</u></strong>
    </div>

    {{.Markdown.Body}}

    <div class="page-section">
        <strong>Contact</strong> (<span>say hi</span>)
    </div>

    <div class="about-social-links">
        <div>
            <a href="mailto:em@thrcd.net" target="_blank">
                em@thrcd.net
            </a>
        </div>

       <div>
           <a href="https://github.com/thrcd" target="_blank">
               github
           </a>
       </div>

        <div>
            <a href="https://techhub.social/@thrcd" target="_blank">
                mastodon
            </a>
        </div>

    </div>
{{end}}