{{define "content"}}
    {{$type := .PostType}}

    <div class="page-title">
        <strong>Posts about <u>{{$type}}</u></strong>
    </div>

    <div>
        {{range $year := .Dirs}}

            <div class="post-list-section">
                <strong>⧗ {{$year}}</strong>
            </div>

            {{range $post := index $.PostListItems $year}}
                <div >
                    <span class="post-list-inline">∿</span>
                    <div class="post-list-item-title post-list-inline">
                        <a href="/posts/{{$type}}/{{$year}}/{{cleanMarkdownExt $post.Filename}}">{{lowcase $post.Metadata.Title}}</a>
                    </div>

                    <span class="post-list-item-date post-list-inline">- {{humanDate $post.Metadata.Date}}</span>
                </div>
            {{end}}

        {{end}}

    </div>

{{end}}
