{{define "content"}}
    <div class="post-meta">
        <img style="vertical-align:middle" src="/static/img/calendar.svg" width="15">
        {{humanDate .Markdown.Metadata.Date}}
    </div>


    {{with .Markdown.Metadata.Tags}}
        <div class="post-meta">
            <span>
                {{range $i, $tag := .}}
                    <img style="vertical-align:middle" src="/static/img/tag.svg" width="12">

                    <i>
                        {{$tag}}<br>
                     </i>

                {{end}}
            </span>
        </div>
    {{end}}



    <div class="post">
        <h4>{{.Markdown.Metadata.Title}}</h4>
        {{.Markdown.Body}}
    </div>
{{end}}