{{define "content"}}
    <div class="post-meta">
        ⧖ {{formatDate .Markdown.Metadata.Date "02 January 2006"}}
    </div>


    {{with .Markdown.Metadata.Tags}}
        <div class="post-meta">
            <span>
                {{range $i, $tag := .}}
                    ◆ <i>{{$tag}}<br></i>
                {{end}}
            </span>
        </div>
    {{end}}



    <div class="post">
        <h4>{{.Markdown.Metadata.Title}}</h4>
        {{.Markdown.Body}}
    </div>
{{end}}