{{define "nav"}}
   <nav>
      <div >
<pre>
    {{if .Error}}
        ╔═══════╗
        ║  :-|  ║
        ╚═══════╝
    {{else}}
        ╔═══════╗
        ║  :-)  ║
        ╚═══════╝
    {{end}}
╔═══════════════╗
║     ( (       ║
║      ) )      ║
║   .______.    ║
║   |      |]   ║
║   |      | ]  ║
║   '------'    ║
╚═══════════════╝
</pre>
         <h2><a href="/">Thr.cd (blog)</a></h2>
         <div class="nav-sub">
             <span class="nav-sub-title">
                 Sometimes I write <s>and post</s> about experiences, programming and life.
             </span>
         </div>
      </div>

      <div class="nav-links">
          <a href="/">⌂ home</a> ║
         <a href="/tech">⌗ tech</a> ║
          <a href="/life">☀ life</a> ║
         <a href="/about" >⍨ about</a>
      </div>
   </nav>
   <hr>

{{end}}