:root {
    color-scheme: light dark;
}

body {
    /* font-family: "Noto Sans Oriya", serif; */
    color: var(--color);
    background-color: var(--background-color);
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--color);
}

a:hover {
    color: #7e7e7e;
}

hr {
    width: 40%;
    border: none;
    height: 0.5px;
    /* Set the hr color */
    background-color: #b0b0b0;  /* Modern Browsers */
}

main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    color: var(--color);
}

.footer {
    margin-top: auto;
    text-align: center;
}

/* Nav */
nav {
    margin: 0 auto;
    text-align: center;
}

nav > .nav-links {
    margin-top: 10px;
}

/* Content */
.content {
    text-align: left;
}

.content > .page-section {
    margin: 20px 0px 20px 0px;
}

.post-list-inline {
    display: inline-block;
}

.post-list-section {
    margin-top: 30px;
}

.post-list-item-title {
    margin-top: 10px;
    text-decoration: underline;
}

.post-list-item-date {
    font-size: 12px;
    color: #b0b0b0;
}

.post-meta {
    font-size: 14px;
    margin-top: 10px;
    color: #919191;
}

pre:not(:has(> code)) {
    background-color: var(--background-color);
    padding: 0;
}

pre  {
    background-color: rgba(225, 225, 225, 0.34);
    padding: 10px 10px 10px 10px;
    overflow-x: scroll;
    border-radius: 5px;
}

.empty-content {
    text-align: center;
}

.error-content {
    text-align: center;
}

.about-social-links > div > a {
    text-decoration: underline;
    padding-bottom: 5px;
    font-size: 14px;

}

.about-social-links > div > a:hover {
    color: #7e7e7e;
    margin-top: 10px;
}

@media (max-width:600px) {
    hr {
        width: 90%;
    }

    main {
        width: 90%;
    }
}